<div class="news-container">
    <h1> Latest News</h1>

    <div class="search-container">
        <input
          type="text"
          [(ngModel)]="searchQuery"
          placeholder="Search stories..."
          (input)="onSearch()"
        />
      </div>
    <ng-container *ngIf="loading$ | async; else content">
        <div class="spinner-container">Loading...
            <mat-progress-spinner diameter="50" mode="indeterminate" color="primary">
            </mat-progress-spinner>
        </div>
    </ng-container>

    <ng-template #content>
        <ul class="news-list">

            <li *ngFor="let story of stories$ | async" (click)="openLink(story.url)" class="news-item">
                <div class="news-content">
                    <h2>{{ story.title }}</h2>
                    <p class="news-url">{{ story.url }}</p>
                </div>
                <span class="arrow">➡</span>
            </li>
        </ul>
        <button (click)="prevPage()" [disabled]="page === 1">Previous</button>
        <button (click)="nextPage()">Next</button>
    </ng-template>
</div>